# Gateway
PORT=4000
JWT_SECRET=your_jwt_secret_here

# User Service
USER_SERVICE_PORT=4001
USER_DB_URL=postgresql://user:pass@ep-shiny-feather-1234.us-east-2.aws.neon.tech/userdb?sslmode=require

# Profile Service
PROFILE_SERVICE_PORT=4002
PROFILE_DB_URL=postgresql://user:pass@ep-shiny-feather-1234.us-east-2.aws.neon.tech/profiledb?sslmode=require

# Availability Service
AVAILABILITY_SERVICE_PORT=4003
AVAILABILITY_DB_URL=postgresql://user:pass@ep-shiny-feather-1234.us-east-2.aws.neon.tech/availdb?sslmode=require

# Matching Service
MATCHING_SERVICE_PORT=4004
MATCHING_DB_URL=postgresql://user:pass@ep-shiny-feather-1234.us-east-2.aws.neon.tech/matchingdb?sslmode=require

# Session Service
SESSION_SERVICE_PORT=4005
SESSION_DB_URL=postgresql://user:pass@ep-shiny-feather-1234.us-east-2.aws.neon.tech/sessiondb?sslmode=require

# Notification Service
NOTIFICATION_SERVICE_PORT=4006
NOTIFICATION_DB_URL=postgresql://user:pass@ep-shiny-feather-1234.us-east-2.aws.neon.tech/notifdb?sslmode=require

# Messaging Service
MESSAGING_SERVICE_PORT=4007
MESSAGING_DB_URL=postgresql://user:pass@ep-shiny-feather-1234.us-east-2.aws.neon.tech/messagingdb?sslmode=require

# Kafka
KAFKA_BROKERS=kafka:9092
